<%- if @owner.errors.size > 0 -%>
  <ul class="errors">
    <%- @owner.errors.full_messages.each do |message| -%>
    <li><strong><%= message %></strong></li>
    <%- end -%>
  </ul>
<%- end -%>

<h2>Add an Owner</h2>

<%= form_for @owner do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div>
    <%= f.submit 'Add Owner' %>
  </div>

<%- end -%>