<%- if @building.errors.size > 0 -%>
  <ul class="errors">
    <%- @building.errors.full_messages.each do |message| -%>
    <li><strong><%= message %></strong></li>
    <%- end -%>
  </ul>
<%- end -%>

<h2>Add a Building</h2>

<%= form_for @building do |f| %>
  <div>
    <%= f.label :street_address, 'Street Address' %>
    <%= f.text_field :street_address %>
  </div>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state %>
    <%= f.select :state, Building.states, include_blank: true %>
  </div>
  <div>
    <%= f.label :postal_code, 'Postal Code' %>
    <%= f.text_field :postal_code %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, size: "25x3" %>
  </div><br>
  <div>Optional Owner Information (Refer to Owner Database for ID)</div>
  <div>
    <%= f.label :owner_id, "Owner ID" %>
    <%= f.text_field :owner_id %>
  </div>

  <% if false %>
  <div>
    <%= f.fields_for :owner do |ff| %>
      <div>
        <%= ff.label :first_name, 'Owner First Name' %>
        <%= ff.text_field :first_name %>
      </div>
      <div>
        <%= ff.label :last_name, 'Owner Last Name' %>
        <%= ff.text_field :last_name %>
      </div>
      <div>
        <%= ff.label :email, 'Owner Email' %>
        <%= ff.text_field :email %>
      </div>
    <% end %>
  </div>
  <%- end -%>
  
  <div>
    <%= f.submit 'Add Building' %>
  </div>

<%- end -%>

<%= link_to 'Back', root_path %>